.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--gray5);
    position: sticky;
    top: 0;
    z-index: 1;
}
.navigation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

