
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__finall {
  font-weight: 700;
  font-size: 3.2rem;
}
.price__finall::after {
  content: attr(data-discount);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--primary1);
  font-weight: 700;
  padding: 2px;
  margin-left: 1rem;
  display: inline-block;
  background-color: var(--primary1-light);
}
.price__initial{
    color: var(--gray2);
    text-decoration: line-through;
}